<!DOCTYPE html>
<html>
<body>
    <script type="text/javascript">
        var sock = new WebSocket("localhost:5000/ws");
        var input = document.getElementById("OutMessage");
        var output = document.getElementById("InMessage");
        sock.onmessage = function (event) {
            output.value = event.data;
        }
        function send(message) {
            var message = input.value;
            sock.send(message);
        }
    </script>
    <input id="OutMessage" type="text"/>
    <input type="button" onclick="send()"/>
    <p id="InMessage"></p>
</body>
</html>