<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] | Websocket Test Game</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>